.container {
  display: grid;
  grid-template-columns: 23vw 3fr;

  @include media("<small") {
    grid-template-rows: 9rem 1fr;
    grid-template-columns: 1fr;
  }
}

.children {
  grid-column: 2;
  @include media("<small") {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}

.sidebar {
  grid-column: 1;

  position: fixed;
  width: 23vw;

  color: var(--color-primary);
  background-color: var(--color-grey);
  font-size: 1.7rem;
  height: 110%;

  display: flex;
  flex-direction: column;
  justify-items: center;
  // padding: 18.5%;
  transition: background-color 0.5s;

  h1 {
    padding: 18.5% 18.5% 0 18.5%;
  }
  &__list {
    padding: 0 18.5% 0 18.5%;
  }

  animation: moveInLeft 1s ease-in-out;

  span {
    color: var(--color-tertiary);
    font-size: 2.1rem;
    font-weight: 600;
  }

  hr {
    margin-top: 5px;
  }

  &__list {
    list-style: none;
    color: var(--color-secondary);

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__item--active a {
    color: var(--color-primary);
    &:after {
      content: "";
      display: block;
      margin: auto;
      height: 2px;
      width: 100%;
      background-color: var(--color-tertiary);
    }
  }
  @include media("<small") {
    grid-row: 1;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 8rem;

    flex-direction: row;
    padding: 3rem;

    justify-content: space-around;

    &__list {
      display: flex;
      padding: 0;
      white-space: nowrap;

      li:not(:last-child) {
        margin-right: 2rem;
      }
    }
    span,
    hr,
    h1 {
      display: none;
    }
    button {
      margin-top: 2px;
    }
  }

  @include media("<hobbit") {
    height: 7rem;
    justify-content: space-between;

    button {
      font-size: 1.3rem;
    }
    font-size: 1.3rem;
  }
}
