.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 23vw 3fr;
}

.sidebar {
  grid-row: 1 / span 2;

  color: $color-primary;
  background-color: $color-grey;
  font-size: 1.7rem;

  display: flex;
  flex-direction: column;
  padding: 18.5%;

  animation: moveInLeft 1s ease-in-out;

  span {
    color: $color-tertiary;
    font-size: 2.1rem;
    font-weight: 600;
  }

  hr {
    margin-top: 5px;
  }

  &__list {
    list-style: none;
    color: $color-secondary;

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__item--active a {
    color: $color-primary;
    &:after {
      content: "";
      display: block;
      margin: auto;
      height: 2px;
      width: 100%;
      background-color: $color-tertiary;
    }
  }
}
