.blog {
  display: flex;
  flex-direction: column;
  height: 100vh;

  animation: moveInBottom 1s;
  padding: 7rem;

  @include media("<small") {
    padding: 1rem 2rem 1rem 2rem;
  }

  &__list {
    list-style-type: none;
    li {
      // font-size: 4rem;

      margin-bottom: 1.5rem;
    }
  }

  hr {
    border-top: 3px solid var(--color-primary);
    margin-bottom: 1.5rem;
  }

  &__searchbar {
    align-self: center;
    min-width: 60%;
    margin-bottom: 1rem;

    border: 1px solid var(--color-primary);
    border-radius: 5px;
    height: 3rem;
    padding: 2px 2rem;
    outline: 0;
    background-color: var(--color-grey);

    transition: all 0.2s;

    &:hover,
    &:focus {
      border: 1.5px solid var(--color-tertiary);
      background-color: var(--color-white);
    }
  }
}
