.post {
  display: flex;
  flex-direction: column;

  animation: moveInBottom 1s;

  &__featured {
    padding: 3rem;
    align-self: center;
    max-width: 55%;
  }

  &__metadata {
    display: flex;
    justify-content: space-around;
    color: var(--color-tertiary);
    font-size: 1.6rem;

    &-tags {
      span:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__text {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1.5;

    animation: moveInBottom 1.5s;

    & > * {
      padding-bottom: 2.5rem;
    }

    ol,
    ul,
    li {
      font-size: 2rem;
    }
    ol,
    ul {
      width: 100%;

      p {
        max-width: 100%;
      }
    }
  }

  &__image {
    max-width: 60%;
  }
}

.loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
