.post {
  display: flex;
  flex-direction: column;

  animation: moveInBottom 1s;

  &__featured {
    padding: 3rem;
    align-self: center;
    max-width: 55%;

    @include media("<large") {
      max-width: 90%;
    }
  }

  &__metadata {
    display: flex;
    justify-content: space-around;
    color: var(--color-tertiary);
    font-size: 1.6rem;
    @include media("<smallest") {
      font-size: 1.3rem;
      justify-content: space-between;
    }

    &-tags {
      span:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__text {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1.5;

    animation: moveInBottom 1.5s;

    @include media("<small") {
      padding: 3rem 1rem 3rem 1rem;
    }
    & > * {
      padding-bottom: 2.5rem;
    }

    ol,
    ul {
      font-size: 2rem;

      margin-left: 3rem;
    }

    h1,
    h2,
    h3,
    h4 {
      color: var(--color-primary);
    }

    h1 {
      font-size: 3.2rem;
      font-weight: 600;
    }
    h2 {
      font-size: 2.8rem;
      font-weight: 600;
    }
    h3 {
      font-size: 2.3rem;
    }
    h4 {
      font-size: 1.2rem;
      font-weight: 400;
      text-transform: uppercase;
    }

    hr {
      width: 100%;
      padding: 0;
    }

    pre {
      background-color: var(--color-secondary);
      padding: 1rem;
      border-radius: 5px;
      color: #ffffff;
      &::selection {
        background-color: black;
        color: #ffffff;
      }
    }
  }

  &__list {
    p {
      max-width: 100%;
    }
  }

  &__image {
    max-width: 60%;

    @include media("<medium") {
      max-width: 90%;
    }
    @include media("<smallest") {
      max-width: 95%;
    }
  }
}

pre {
  font-size: 1.5rem;
}

.loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
