.youtube {
  padding: 7rem;
  display: flex;
  flex-direction: column;

  animation: moveInBottom 1s;

  @include media("<small") {
    padding: 1rem 2rem 1rem 2rem;
  }

  .heading-1,
  p,
  &__iframes {
    align-self: center;
  }

  hr,
  p {
    margin-bottom: 1rem;
  }

  &__iframes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    @include media("<small") {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    a {
      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
    }

    img {
      transition: 0.4s;
      border-radius: 5px;
      &:hover {
        opacity: 0.7;
      }
    }

    animation: moveInBottom 1.5s;
  }
}
