// COLORS
$color-white: #fff;

$color-primary: #000000;
$color-secondary: #3333;
$color-tertiary: #3A58ED;

$color-grey: #f7f7f7;

// FONT CONTROL
$normal-font-size: 1.4rem;
$default-font-size: 1.6rem;
$medium-font-size: 3rem;
$big-font-size: 5rem;
