.themeToggle {
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  text-transform: uppercase;

  align-self: center;

  margin-top: 1.2rem;

  @include media("<small") {
    margin-top: 0;
    padding: 0;
    align-self: auto;
  }
}

.themeToggle--dark {
  background-color: #f7f7f7;
  color: black;
  font-size: 2rem;
}
.themeToggle--light {
  background-color: #383838;
  color: white;
  font-size: 2rem;
}
