.list {
  width: 65%;
  @include media("<small") {
    width: 90%;
  }
  @include media("<smallest") {
    width: 100%;
  }

  list-style-position: inside;
  li {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
