*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5% (16 is default browser font size)
  font-family: "NunitoSansRegular", sans-serif;

  @include media("<medium") {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: inherit;
  background-color: var(--color-white);
  transition: background-color 0.5s;
}

hr {
  border: 1px solid var(--color-primary);
}

::selection {
  background-color: var(--color-grey-dark-2);
  color: var(--color-white);
}
